.label {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	margin: 0 0 1vh 17vw;
}

.labelItem {
	flex-basis: 17%;
}

.SwitchForm {
	padding-top: 3%;
}

.palert {
	color: #bf1650;
	margin: auto 0;
}

.palert::before {
	display: inline;
	padding-left: 7vw;
}

.form {
	padding-top: 3%;
	margin: 0 auto;
}

.stkBtn {
	margin-right: 3%;
}

.text-muted {
	font-size: initial;
	display: flex;
	padding-left: 29vw;
}

.form-control {
	width: 35vw;
	margin-right: 15px;
}

.form-select {
	width: 35vw;
	margin-right: 15px;
}

.isNumber {
	padding-left: 28vw;
}
