.cardStyle {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.cardPad {
	margin: 2vw;
	width: 17vw;

	/* flex-basis: 20%; */
}

.delete-checkbox {
	padding-left: 5px;
}

.stkBtn {
	margin-right: 3%;
}
